.img {
  height: 300px;
  width: 270px;
}

.border {
  display: flex;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
  margin-left: 170px;
  margin-right: 170px;
}

.spin {
  margin-top: 300px;
}

.btn {
  margin: 10px;
}

.btnprimery {
  margin-top: 25px;
}

.content {
  margin-left: 15px;
  display: flex;
  justify-content: start;
}

.stag {
  margin-left: 60px;
}

.afterheader {
  padding-left: 6rem;
}

.rate {
  display: flex;
  cursor: pointer;
}

.star {
  padding: 5px;
}

.sumrait {
  padding-left: 5px;
}

.allstar {
  display: flex;
  margin-left: 120px;
}

.wrap {
  min-height: 700px;
}

.wrap_h1 {
  display: flex;
  justify-content: center;
}

.err403_main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.err403 {
  width: 800px;
}
