.img {
  height: 300px;
  width: 270px;
}

.border {
  /* border: 4px outset #fc3;
  padding: 10px;
  width: 800px;
  height: 400px; */
  display: flex;
  justify-content: space-evenly;
}

.info {
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
  margin-left: 170px;
  margin-right: 170px;

}

.spin {
  margin-top: 300px;
}

.btn {
  margin: 10px;
}

.btnprimery {
  margin-top: 25px;
}

.content {
  margin-left: 15px;
  display: flex;
  justify-content:start;
}

.afterheader {
  padding-left: 6rem;
}
