.benefit {
  width: 800px;
  padding-top: 30px;
}

.text {
  width: 700px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gimn {
  height: 900px;
  padding-top: 30px;
}

.ex {
  width: 600px;
  padding-top: 30px;
}

.text_h1 {
  margin-top: 13px;
  width: auto;
  color: #1890ff;
  font-family: 'Playfair Display', serif;
}
