.newsblock {
  height: 450px;
}

.newsblock{
  overflow-y: scroll;
  height: 300px;
}
.news_item{
  overflow: hidden;
}


.newsblock::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.newsblock::-webkit-scrollbar-thumb {
  /* border-radius: 10px;
  background-color: #18aaaa; */
  visibility: hidden;
}

.newsblock::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd; */
  visibility: hidden;
}
