.right_item{
  margin: 10px;
  background-color: #accddf;
  border-radius: 25px;
  justify-content: center;
  width: 800px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.appoint_item{
  margin: 20px;
}

.left_item{
  margin: 10px;
  background-color: #accddf;
  width: 300px;
  min-height: 350px;
  border-radius: 25px;
  text-align: center;
}

.user_photo{
  max-width: 150px;
  margin-bottom: 20px;
}

.char_user{
  padding-top: 20px;
}

.account_container_item{
  min-height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left_column{
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.container_right_items{
  min-height: inherit;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.account_container{
  min-height: 750px;
}
