.fotoDoc {
  height: 300px;
  width: 268px;
  display: flex;
  align-items: center;
}

.contentStyle {
  height: 400px;
  color: rgb(0, 0, 0);
  /* line-height: 160px; */
  /* text-align: center; */
  /* background: #afd1f0; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  margin: 0 10px;
}
.activeLink {
  color: rgb(251, 126, 24);
}

.specialization {
  font-size: large;
}

.content {
  padding-left: 10px;
}

.slick-active{
  background-color: red;
}

.aboute {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  width: 140px;
  border: 2px solid rgb(149, 99, 55);
  border-radius: 5px;
  background-color: skyblue;
}
