/* .main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main_container_item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  /* min-width: 400px;
  min-height: 400px; */
  /* max-width: 100%; */
  /* border: solid; 
  margin: 10px;
}

.main_container_map {
  width: 100%;
  margin: 15px;
}

.item {
  margin: 10px;
  width: 300px;
  background-color: rgb(255, 254, 254);
}

.Corona_g {
  width: 300px;
  height: 130px;
}


.donor {
  width: 280px;
  height: 130px;
}
.volunteer {
  width: 280px;
  height: 130px;
}

.work_out {
  width: 260px;
  height: 130px;
}

.doyoga {
  width: 280px;
  height: 130px;
} */


.main_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px
}

.main_top {
  display: flex;
  flex-direction: column;
}

.main_top_item{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  align-self: center;
  margin-top: 80px;
  min-width: 1500px;
  max-width: 1500px;
  min-height: 100px;
}

.news_container {
  display: flex;
  /* background-color: khaki; */
  width: 700px;
  height: fit-content;
  border-radius: 25px;
}

.news_container_item{
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #4cab57;
  border-radius: 25px;
}

.cards_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* align-items: center;
  margin-left: 100px; */
  width: 700px;
}

.cards_item{
  display: flex;
  justify-content: end;
  min-width: fit-content;
  min-height: fit-content;
  padding-top: 40px;
  padding-left: 40px;
}

.item_foto{
  border: 1px solid black;
  min-width: 1500px;
  max-width: 1500px;
  height: 300px;
}

.item_foto_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: khaki;
  min-width: 1500px;
  max-width: 1500px;
  height: 300px;
  /* margin-right: 100px; */
}

.main_middle{
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.carusel {
  max-width: 1000px;
}

.Corona_g {
  width: 300px;
  height: 150px;
}

.donor {
  width: 300px;
  height: 150px;
}

.volunteer {
  width: 300px;
  height: 150px;
}

.work_out{
  width: 300px;
  height: 150px;
}

.doyoga{
  width: 300px;
  height: 150px;
}
