.main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main_container_item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  /* min-width: 400px;
  min-height: 400px; */
  /* max-width: 100%; */
  /* border: solid; */
  margin: 10px;
}
.main_container_map {
  width: 100%;
  margin: 15px;
}

.item {
  margin: 10px;
  width: 300px;
  background-color: rgb(255, 254, 254);
}

.Corona_g {
  width: 300px;
  height: 130px;
}
.carusel {
  max-width: 900px;
}

.donor {
  width: 280px;
  height: 130px;
}
.volunteer {
  width: 280px;
  height: 130px;
}

.work_out {
  width: 260px;
  height: 130px;
}
