.main_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}

.main_top {
  display: flex;
  flex-direction: column;
}

.main_top_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-top: 80px;
  min-width: 1500px;
  max-width: 1500px;
  min-height: 100px;
}

.news_container {
  display: flex;
  width: 700px;
  height: fit-content;
  border-radius: 25px;
}

.news_container_item {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #accddf;
  border-radius: 25px;
}

.cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 700px;
}

.cards_item {
  display: flex;
  justify-content: end;
  min-width: fit-content;
  min-height: fit-content;
  padding-top: 40px;
  padding-left: 40px;
  opacity: 1;
}

.item_foto_container {
  display: flex;
  justify-content: center;
  min-width: 1500px;
  max-width: 1500px;
  height: 600px;
  background-color: #accddf;
  border-radius: 20px;
  /* border: black solid 1px; */
}

.main_middle {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.carusel {
  max-width: 1000px;
}

.Corona_g {
  width: 300px;
  height: 150px;
  border-radius: 25px;
}

.donor {
  width: 300px;
  height: 150px;
  border-radius: 25px;
}

.volunteer {
  width: 300px;
  height: 150px;
  border-radius: 25px;
}

.work_out {
  width: 300px;
  height: 150px;
  border-radius: 25px;
}

.doyoga {
  width: 300px;
  height: 150px;
}

.map {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main_bottom {
  display: flex;
  justify-content: space-evenly;
}

.main_bottom_item {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.item_foto_left {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.item_foto_right {
  max-height: 651px;
  width: 800px;
}
.foto {
  width: 400px;
  height: 300px;
}
.bigFoto {
  width: 600px;
  height: 600px;
}
.h1Foto {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: large;
}
.fotoOneCol {
  width: 400px;
  height: 300px;
  border-top-left-radius: 20px;
}
.fotoOneColTwo {
  width: 400px;
  height: 300px;
  border-bottom-left-radius: 20px;
}

.cards_item:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
