.footer {
  background-color: #1890ff;
  position: absolute;
  height: 80px;
  /* top: 110%; */
  width: 100%;
}

li {
  list-style-type: none;
  font-size: larger;
  color: aliceblue;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}
