.footer {
  background-color: #1890ff;
  height: 80px;
  width: 100%;
  position: absolute;
  /* bottom: 0; */
}

.wrap {
  display: flex;
  justify-content: space-evenly;
}

.text {
  display: flex;
  justify-content: center;
}
