.footer {
  background-color: #096dd9;
  position:absolute;
  height: 80px;
  top: 90%;
  width: 100%;
}

li {
  list-style-type: none;
  font-size: larger;
  color: aliceblue;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}