.cardwrapper {
  padding: 30px;
  background: #ececec;
  display: flex;
  flex-wrap: wrap;
}

.comments {
  text-overflow: clip;
}

.appoint_item {
  color: red;
}

.wrap {
  min-height: 700px;
}

.wrap_h1 {
  display: flex;
  justify-content: center;
}

.err403_main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.err403 {
  width: 800px;
}
