body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}
ul {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

header {
  background-color: #73d13d;
  height: 85px;
}

.auth {
  padding-top: 3rem;
}

.notfound {
  height: 17rem;
}