body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  display: flex;
  justify-content: space-around;
}

header {
  background-color: #4cab57;
  height: 3rem;
}

.auth {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.notfound {
  height: 17rem;
}

.header {
  display: flex;
  justify-content: center;
}

.slick-dots li{
  background-color: green;
} 

.slick-dots li.slick-active {
  background-color: rgb(167, 29, 29);
}

li button{
  background-color: rgb(6, 8, 99);
} 
